.green-box{
    text-align:center;
    padding-top:30px;
    margin:auto;width:70%; border: 4px solid rgb(0, 160, 0);
}
.corr{
    color:rgb(0, 160, 0);
    padding-left: 50px;
}
.wrong{
    color: rgb(160, 0, 0);
}
.myonlypurposeistopad{
    padding-bottom:20px;
}
.thinnerpadding{
    padding-bottom: 10px;
}
.taller{
    height: 20px;
}
